

@media screen and (max-width:426px){
    .company-info-cont{
        width: 100% !important;
        padding: 5px !important;
        font-size: 12px;
    }
    .company-form{
        width: 100% !important;
    }
}