
      %day-and-time-picker {
        border: 1px solid #DDDDDD;
        padding: 5px 0;
        border-radius: 4px;
      }
      .approve-cont{
        span{
          color: black;
          font-weight: 700;
        }
      }
    .form-cont{
        .left{
            .lable-title {
                font-weight: bold;
                color: black;
              }
              .star {
                color: #ff4c01;
              }
            
        }
    }